.logo {
     display: flex;
     justify-content: flex-start;
     border: 1px solid black;
     width: fit-content;
     margin-top: -40px;
}
.Tilt { 
   
     box-shadow: 2px 2px 5px gray;
     background: #74ebd5;  
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.brain{
margin: 15px auto;
}