.nav {
     display: flex;
   
     /* margin: 100px auto; */
     cursor: pointer;
     text-decoration: none;
     width: fit-content;
     list-style: none;
     justify-content: flex-end;
     float: right;
     padding: 5px;
}
.link {
     padding-right: 10px;
}
.link:hover{
     font-weight: 600;
     border: 1px solid yellow;
}
