.sign-in {
     display: flex;
     justify-content: flex-end;
     /* margin: 100px auto; */
     cursor: pointer;
     text-decoration: underline;
 
     
}
.sign-out:hover{
     font-weight: 500;
}
