#inputImage{
     border-radius: 15px;
     box-shadow: 1px 1px 5px grey;
}
.image{
     position: absolute;
     margin-top: 25px;
     
}
.bounding-box {
     position: absolute;
     box-shadow: 0 0 0 3px #149df2 inset;
     display: flex; 
     flex-wrap: wrap;
     justify-content: center;
     cursor: pointer;
}